.main_activity_icon {
    margin-top: 30%;
    width: 100%;
    height: 30px;
    text-align: center;
}

.activity_title {
    margin-top: 32%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.activity_title .main_title {
    width: auto;
    font-family: "Open Sans Condensed light";
    font-size: 45px;
    font-weight: 100;
    color: #fff;
}

.activity_title .feel_selected {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.feel_selected {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.activity_desc {
    margin-top: 10px;
    padding: 0 2%;
}

.breathing {
    background: url('../img/actividades/respiracion.svg');
}

.physicals {
    background: url('../img/actividades/actividadfisica.svg');
}

.artistics {
    background: url('../img/actividades/artisticas.svg');
}

.tips {
    background: url('../img/actividades/consejos.svg');
}

.activity_icon {
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
}