.steps {
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
}

.step_container {
    margin-top: 14% !important;
}

.step {
    background: linear-gradient(to right, #a991d3, #a59adf, #a0a3ea, #9aacf5, #93b5ff);    
    height: 48px;
    border-radius: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.steps .step1 {
    width: 47%;
}

.steps .step2 {
    width: 62%;
}

.steps .step3 {
    width: 77%;
}

.steps .step4 {
    width: 90%;
}

.step_icon {
    width: 70px;
    height: 70%;
    background: url('../img/actividades/prechequeo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.step_name {
    font-family: "Roboto light";
    color: #fff;
    font-size: 22px;
}

.exercises_container {
    width: 100%;
    text-align: center;
    margin-top: 17px;
}

.exercises_container .exercises {
    display: inline-block;    
    width: 92%;
    height: 200px;
}

.exercises .exercise_item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,.5);
    justify-content: space-around;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

.exercise_desc {
    font-family: "Open Sans Condensed light";
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 50%;
}

.art_exercise_desc {
    text-align: left;
}

.art_item_title {
    width: 45%;
    margin-left: 20px;
}

.art_item_des {
    width: 55%;
}

.advice {
    border-radius: 10px;
    margin-bottom: 8px;
    background: transparent;
}

.advice_icon {
    width: 31px;
    height: 30px;
    background: url('../img/actividades/item.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.next_step_icon {
    width: 30px;
    height: 30px;
    background: url('../img/actividades/siguientepaso.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.advice_text {
    font-size: 17px;
    font-family: "Roboto light";
    margin-left: 17px;
    text-align: left;
    color: #fff;
}

.step_item {
    margin-bottom: 25px;
}

.step_button_container {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step_button {
    width: 135px;
    padding-left: 10px;
    justify-content: center;
}

.last_step {
    text-align: center;
}

.congratulations {
    width: 100%;
    margin-top: 30%;
}

.congratulations_words {
    font-size: 30px;    
}

.second_words {
    font-size: 15px;
    font-style: italic;
}