.entry {
    background-image: linear-gradient(to top, #5ca3e6, #92aeee, #bcbaf4, #ddc8f8, #f7d8fc);
    display: flex;
    align-items: center;
    justify-content: center;
}

#flumind_text {
    position: absolute;
    margin-top: -10px;
    font-family: "Open Sans Condensed light";
    color: #6e6cd4;
    font-size: 75px;
}

.circle { 
    position: absolute;
    border-radius: 100%;    
}

.circle1 {    
    background: rgba(214, 217, 247, 1);
    width: 286px;
    height: 286px;
    transition: all 3s ease;
}

.circle2 {
    background: rgba(227, 229, 249, 1);
    width: 260px;
    height: 260px;
    transition: all 2.5s ease;
}

.circle3 {
    background: rgba(236, 237, 251, 1);
    width: 222px;
    height: 222px;
    transition: all 2s ease;
}

.circle4 {
    background: rgba(241, 243, 252, 1);
    width: 180px;
    height: 180px;
    transition: all 1.5s ease;
}

.circle5 {
    background: rgba(255, 255, 255, 1);
    width: 142px;
    height: 142px;
    transition: all .8s ease;
}